<%- include('parts/html-head') %>
<%- include('parts/nav-bar') %>

<div class="container">

    <div class='row'>
      <div class ='col-md-6'>
        <div id ='info-bar' class="alert alert-success" role="alert" style="display:none">
          A simple success alert—check it out!
        </div>
      <div class="card" >
        <div class="card-body">
          <h5 class="card-title">新增資料</h5>
          <form name='form1' onsubmit='return checkForm()'>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" name="name">
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" name="email">
            </div>

            <div class="form-group">
              <label for="mobile">Mobile</label>
              <input type="text" class="form-control" id="mobile" name="mobile">
            </div>

            <div class="form-group">
              <label for="birthday">Birthday</label>
              <input type="text" class="form-control" id="birthday" name="birthday">
            </div>

            <div class="form-group">
              <label for="address">Address</label>
              <textarea type="text" class="form-control" id="address" name="address" cols ='50' rows = '3'></textarea>
            </div>
            <div class="form-group">
              <label for="password">password</label>
              <input type="password" class="form-control" id="password" name="password">
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
</div>
</div>
</div>
<style>
  .container{
    padding:30px 0px;
  }
  </style>

<%- include('parts/script') %>
<script>
  var infoBar= $('#info-bar')
  // infoBar.hide();


  function checkForm(){
  $.post('/renstore/add',$(document.form1).serialize(),function(data){
    console.log(data);

    if(data.success){
      infoBar.removeClass('alert-danger').addClass('alert-success').text('Successfully renewed');
    }else {
      infoBar.removeClass('alert-success').addClass('alert-danger').text('Too bad');
    }
    infoBar.show()
  },'json');

  return false;
}

</script>
<%- include('parts/html-foot') %>