<%- include('parts/html-head') %>
<%- include('parts/nav-bar') %>

            <div class='col-md-9'>
                <div class='row'>
                    <div class='col-md-6'>
                        <article class='card mb-4'>
                            <header class='card-header'>
                                <div class='card-meta'>
                                    <p>Marathon slipper</p>
                                </div>
                                <a href='/natureFinal.html'>
                                    <h4 class='card-title'>A super comfy marathon shoes you will definitely in love!
                                    </h4>
                                </a>
                            </header>
                            <a href="/natureFinal.html"><img class='card-img' src='img/mirae.jpg'></a>
                            <div class='card-body'>
                                <p class='card-text'>Slow down and enjoy the simple pleasure in life. All good things
                                    are free and wild. JUST BREATH.</p>
                            </div>
                        
                    </div>
                    
                    </div>
                </div>
            </div>

  




<%- include('parts/script') %>
<%- include('parts/html-foot') %>