<%- include('parts/html-head') %>
<%- include('parts/nav-bar') %>

<div class='col-md-9'>
    <div class='row'>
        <div class='col-md-6'>
            <article class='card mb-4'>
                <header class='card-header'>
                    <div class='card-meta'>
                        <p>Marathon slipper</p>
                    </div>
                </header>
                <a href="/natureFinal.html"><img class='card-img' src='img/marathonshoes.jpg'></a>
                <div class='card-body'>
                    <p class='card-text'>Too comfy to not loving it</p>
                </div>
            </article>
            <article class='card mb-4'>
                <header class='card-header'>
                    <div class='card-meta'>
                        <p>Storage bag</p>
                    </div>
                </header>
                <a href=""><img class='card-img' src='img/persevationbag.jpg'></a>
                <div class='card-body'>
                    <p class='card-text'>A flexible container that can heat up!</p>
                </div>
            </article>
            <article class='card mb-4'>
                <header class='card-header'>
                    <div class='card-meta'>
                        <p>Mirae mask</p>
                    </div>
                </header>
                <a href=""><img class='card-img' src='img/mirae.jpg'></a>
                <div class='card-body'>
                    <p class='card-text'>A mask that strongly recommended</p>
                </div>
            </article>
        </div>
        <div class='col-md-6'>
            <article class='card mb-4'>
                <header class='card-header'>
                    <div class='card-meta'>
                        <p>Keep-it-warm cover</p>
                    </div>
                </header>
                    <a href=""><img class='card-img' src='img/warmcover.jpg'></a>
                <div class='card-body'>
                    <p class='card-text'>No more cold food
                    </p>
                </div>
            </article>
            <article class='card mb-4'>
                <header class='card-header'>
                    <div class='card-meta'>
                        <p>to-go spoon fork</p>
                    </div>
                </header>
                <a href=""><img class='card-img' src='img/spoonfork.jpg'></a>
                <div class='card-body'>
                    <p class='card-text'>Let's love our globe together!
                    </p>
                </div>
            </article>
            <article class='card mb-4'>
                <header class='card-header'>
                    <div class='card-meta'>
                        <p>Paper Soap</p>
                    </div>
                </header>
                <a href=""><img class='card-img' src='img/papersoap.jpeg'></a>
                <div class='card-body'>
                    <p class='card-text'>You know what? Washing hand frequently is the recipe to keep away from bacteri.
                    </p>
                </div>
            </article>
        </div>
    </div>
</div>




<%- include('parts/script') %>
<%- include('parts/html-foot') %>