<div class='cover'>
    <!-- <div class='slogan'>
          <span id='slogan2'>EVERYTHING YOU NEED</span>
      </div> -->
  </div>
  <main class='main pt-4'>
    <div class='container'>
      <div class='row'>
        <div class='col-md-3 ml-auto'>
          <aside class='sidebar'>
            <div id='sidebar' class='card mb-4'>
              <div class='card-body'>
                <h4 class='card-title'>About</h4>
                <span><img class='card-img' src='img/renlogo.jpg'></span>
                <p class='card-text'>
                  任代購
                  <p>“任何”、“任性”，代購任何想要的，任性只賣真心覺得好的物品。</p>
                </p>
              </div>
            </div>
  
  
          </aside>
  
          <!-- <class class='card mb-4'> -->
          <!-- <div class='card-body'> -->
          <div class="list-group sticky-top">
            <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1"
              aria-disabled="true">Categories</a>
            <a href="/renstore/beauty" class="list-group-item list-group-item-action"><i aria-hidden="true"
                class="fa fa-gift"></i>
              Beauty
            </a>
            <a href="" class="list-group-item list-group-item-action"><i aria-hidden="true"
                class="fa fa-gift"></i>Sports</a>
            <a href="#" class="list-group-item list-group-item-action"><i aria-hidden="true"
                class="fa fa-gift"></i>Kitchen</a>
            <a href="#" class="list-group-item list-group-item-action"><i aria-hidden="true"
                class="fa fa-gift"></i>Sanitation</a>
            <a href="#" class="list-group-item list-group-item-action"><i aria-hidden="true"
                class="fa fa-gift"></i>Others</a>
          </div>
          <!-- </div> -->
          <!-- </div> -->
          <!-- <div class='card mb-4'>
            <div class='card-body'>
              <h4 class='class-title'>Some Stuff</h4>
              <a href="calmine.html" class='btn btn-light btn-smmb-1'>
                Calculator</a>
            </div>
          </div> -->
        </div>