<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <div>
        <a href='https://www.facebook.com/%E4%BB%BB%E4%BB%A3%E8%B3%BC-106339560976944'><i class="fa fa-facebook-official" style="font-size:30px"></i></a>
        <a href='https://www.instagram.com/imjoyee/'><i class="fa fa-instagram" style="font-size:30px"></i></a>
      
    </div>
    </div>
  </nav>

  <div class='cover'>
    <!-- <div class='slogan'>
        <span id='slogan2'>EVERYTHING YOU NEED</span>
    </div> -->
 </div>
 <main class='main pt-4'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-3 ml-auto'>
                <aside class='sidebar'>
                    <div id='sidebar' class='card mb-4'>
                        <div class='card-body'>
                            <h4 class='card-title'>About</h4>
                            <p class='card-text'>
                                YOLO.
                                <p>One day you'll leave this world behind. So live a life you will remember.</p>
                            </p>
                        </div>
                    </div>


                </aside>

                <div class='card mb-4'>
                    <!-- <div class='card-body'> -->
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Categories</a>
                            <a href="/renstore/beauty" class="list-group-item list-group-item-action">
                              Beauty
                            </a>
                            <a href="" class="list-group-item list-group-item-action">Sports</a>
                            <a href="#" class="list-group-item list-group-item-action">Kitchen</a>
                            <a href="#" class="list-group-item list-group-item-action">Epidemic prevention</a>
                            <a href="#" class="list-group-item list-group-item-action">Others</a>
                          </div>
                    <!-- </div> -->
                </div>
                <div class='card mb-4'>
                    <div class='card-body'>
                        <h4 class='class-title'>Some Stuff</h4>
                        <a href="calmine.html" class='btn btn-light btn-smmb-1'>
                            Calculator</a>
                    </div>
                </div>
            </div>