<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/renstore">任代购</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class=" icon-nav" href="/renstore"><i class="fas fa-home"></i><span>HOME</span></a>
      </li>
      <li class="nav-item">
        <a class=" icon-nav" href="#"><i class="fas fa-tags"></i><span>DISCOUNT</span></a>
      </li>
    </ul>
    <div class="d-inline-flex align-items-center  topNavbar-link">

      <a href='https://www.facebook.com/%E4%BB%BB%E4%BB%A3%E8%B3%BC-106339560976944' class="icon-nav icon-admin"><i class="fa fa-facebook-official"
          style="font-size:30px"></i>
        <div class="icon-text">FB</div>
      </a>
      <a href='/renstore/login' class=" icon-nav icon-member"><i class="fas fa-user" style="font-size:30px"></i>
        <div class=" icon-text">登 入</div>
      </a>


      </div>
    </div>
</nav>

